.first-table {
  border: 3px outset;
}
.first-table th,
.first-table td {
  border: 3px inset;
}

.first-col-left {
  text-align: left;
  padding: 5px;
  width: 250px;
}

.first-all-col-center {
  text-align: center;
  padding: 5px;
}

.second-table {
  border: 1px outset;
}

.second-table th,
.second-table td {
  border: 1px inset;
}
